APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
REVENUE_POSTBACK_KEY=

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=4320
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

SANCTUM_STATEFUL_DOMAINS=localhost:5173,localhost:3000,localhost,127.0.0.1,127.0.0.1:8000

ACCOUNTS_UNSCOPED_ROLE_ID=

DOMAIN_WHITELIST=
IP_WHITELIST=
WHITELIST_ENABLED=false

REVALIDATED_API_URL=http://articles.test/api/ran
REVALIDATE_INTERNAL_SECRET=FVt29CVPBDwL8cJKsckWnnr7L9UqIVg4

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_TRACKING_URL=

TIKTOK_ADS_APP_ID=
TIKTOK_ADS_SECRET=
TIKTOK_ADS_REDIRECT_URI="${APP_URL}/tiktok/callback"
TIKTOK_ADS_TOKEN_ENDPOINT=https://business-api.tiktok.com/open_api/v1.3/oauth2/access_token/
TIKTOK_API_BASE_URL=https://business-api.tiktok.com/open_api/v1.3

GOOGLE_ADS_DEVELOPER_TOKEN=
GOOGLE_ADS_LOGIN_CUSTOMER_ID=
GOOGLE_ADS_CLIENT_ID=
GOOGLE_ADS_CLIENT_SECRET=
GOOGLE_ADS_REFRESH_TOKEN=
GOOGLE_ADS_CONVERSION_CLIENT_ID=
GOOGLE_ADS_CONVERSION_CLIENT_SECRET=
GOOGLE_ADS_CONVERSION_REFRESH_TOKEN=
GOOGLE_ADS_CONVERSION_DEVELOPER_TOKEN=
GOOGLE_ADS_CONVERSION_LOGIN_CUSTOMER_ID=
GOOGLE_ADS_USE_PROTOBUF=

ACCOUNT_ID_VND='["id1", "id2"]'
TRAFFIC_ACCOUNTS='["id1", "id2"]'

QUEUE_ADS_CONVERSION=ads-conversion
QUEUE_MAIN_SYSTEM_SYNC=main-system-sync

MAIN_SYSTEM_IS_MAIN=false
MAIN_SYSTEM_API_URL=
MAIN_SYSTEM_MAIN_TEAM_ID=
MAIN_SYSTEM_TOKEN=
MAIN_SYSTEM_HTTP_TIMEOUT=15
MAIN_SYSTEM_HTTP_CONNECT_TIMEOUT=5

ADS_REPORT_ACCOUNTING_ROLE_ID=

OPENAI_API_KEY=
